<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="blog_title">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <div class="blog_title">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  
  <div class="blog_title">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>
  
  <div class="blog_title">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  
  
  <div class="blog_title">
    <%= form.label :image %>
    <%= form.file_field :image, id: :user_image %>
  </div>
  
  <%= form.submit %>
<% end %>

